{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Adventurer List</h2>
    <div class="row">
        <div class="col s12">
            <table id="adventurer_table" class="table table-hover row-border responsive">
                <thead>
                    <tr>
                        {% for th in adventurer_table_head %}
                        {% if forloop.counter == 7 or forloop.counter == 8 %}
                        <th>{{ th.name|title }}</th>
                        {% else %}
                        <th>{{ th|title }}</th>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for tr in adventurer_table_body %}
                    <tr>
                        {% for item in tr %}
                        {% if forloop.counter == 1 %}
                        <td><a href={{item.url}}><img src={{item.image}}></a></td>
                        {% elif forloop.counter == 6 %}
                        <td><img src={{item}}></td>
                        {% elif forloop.counter == 9 or forloop.counter == 10 %}
                        <td><a href={{item.skill_url}}><img src={{item.skill_image}}>&nbsp;{{item.skill_name}}</a></td>
                        {% else %}
                        <td>{{ item | safe }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $('#adventurer_table').DataTable({
        "order": [10, 'DESC'],
        "scrollY": "80vh",
        scrollCollapse: true,
        paging: true,
        pageLength: 10,
        lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        dom: 'Bfrtip',
        language: { search: "" },
    });
</script>
{% endblock %}