{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Adventurer List</h2>
    <div class="row">
        <div class="col s12">
            <table id="adventurer_table" class="table-responsive">
                <thead>
                    <tr>
                        {% for th in adventurer_table_head %}
                        <th>{{ th }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for tr in adventurer_table_body %}
                    <tr>
                        {% for item in tr %}
                        <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $('#adventurer_table').bootstrapTable({
        height: 800,
        width: '100%',
        pagination: true,
        search: true,
    });
</script>
{% endblock %}