{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<div class="container">
    <h2>Adventurer List</h2>
    <div class="row">
        <div class="col s12">
            <table id="adventurer_table" class="table table-hover row-border responsive">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Class</th>
                        <th>Rarity</th>
                        <th>Element</th>
                        <th>Weapon</th>
                        <th>HP</th>
                        <th>Str</th>
                        <th>Skill 1</th>
                        <th>Skill 2</th>
                        <th>Co-Ability</th>
                        <th>Chain Co-Ability</th>
                        <th>Ability 1</th>
                        <th>Ability 2</th>
                        <th>Ability 3</th>
                        <th>Release Date</th>
                        <th>Obtain</th>
                    </tr>
                </thead>
                <tbody>
                    {% for adv in adventurer_list %}
                    <tr>
                        <td>
                            <a href={{adv.url}}>
                                {% thumbnail adv.icon "60x60"  as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            </a>
                        </td>
                        <td>{{ adv.name }}</td>
                        <td>{{ adv.title }}</td>
                        <td>{{ adv.class_name }}</td>
                        <td>{{ adv.rarity }}</td>
                        <td>{{ adv.element }}</td>
                        <td>{{ adv.weapon }}</td>
                        <td>{{ adv.hp }}</td>
                        <td>{{ adv.Str }}</td>
                        <td>
                            {% thumbnail adv.skill_1.icon "24x24"  as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            &nbsp;
                            {{adv.skill_1.name}}
                        </td>
                        <td>
                            {% thumbnail adv.skill_2.icon "24x24"  as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            &nbsp;
                            {{adv.skill_2.name}}
                        </td>
                        <td>
                            {% thumbnail adv.co_ability.icon "24x24"  as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            &nbsp;
                            {{adv.co_ability.name}}
                        </td>
                        <td>
                            {% thumbnail adv.chain_co_ability.icon "24x24"  as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            &nbsp;
                            {{adv.chain_co_ability.name}}
                        </td>
                        <td>
                            {% thumbnail adv.ability_1.icon "24x24"  as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            &nbsp;
                            {{adv.ability_1.name}}
                        </td>
                        <td>
                            {% thumbnail adv.ability_2.icon "24x24"  as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            &nbsp;
                            {{adv.ability_2.name}}
                        </td>
                        <td>
                            {% thumbnail adv.ability_3.icon "24x24"  as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            &nbsp;
                            {{adv.ability_3.name}}
                        </td>
                        <td>{{adv.release_date|date:'Y-m-d'}}</td>
                        <td>{{adv.obtained_form}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            {% if is_paginated %}
            <nav>
                <ul class="pagination">
                    {% if adventurer_list.has_previous %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ current_page.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% for page in paginator.page_range %}
                    <li class="page-item {% if page == adventurer_list.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                    {% endfor %}
                    {% if adventurer_list.has_next %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ adventurer_list.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $('#adventurer_table').DataTable({
        // "order": [16, 'DESC'],
        "scrollY": "150vh",
        "scrollX": "100vh",
        "info": false,
        "paging": false,
        // scrollCollapse: true,
        // paging: true,
        // pageLength: 10,
        // lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        dom: 'Bfrtip',
        language: { search: "" },
    });
</script>
{% endblock %}