{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<div class="container">
    <h2>Dragon List</h2>
    <div class="row">
        <div class="col s12">
            <table id="dragon_table" class="table table-hover row-border responsive">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Rarity</th>
                        <th>Element</th>
                        <th>HP</th>
                        <th>Str</th>
                        <th>Skill</th>
                        <th>Ability 1</th>
                        <th>Ability 2</th>
                        <th>Release Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dra in dragon_list %}
                    <tr>
                        <td>
                            <a href={{dra.url}}>
                                {% thumbnail dra.icon "60x60"  as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            </a>
                        </td>
                        <td>{{ dra.name }}</td>
                        <td>{{ dra.rarity }}</td>
                        <td>{{ dra.element }}</td>
                        <td>{{ dra.hp }}</td>
                        <td>{{ dra.Str }}</td>
                        <td>{{ dra.skill }}</td>
                        <td>
                            {% for ab in dra.ability_1.all %}
                            {% thumbnail ab.icon "24x24"  as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            &nbsp;
                            {{ab.name}}
                            <br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for ab in dra.ability_2.all %}
                            {% thumbnail ab.icon "24x24"  as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            &nbsp;
                            {{ab.name}}
                            <br>
                            {% endfor %}
                        </td>
                        <td>{{dra.release_date|date:'Y-m-d'}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            {% if is_paginated %}
            <nav>
                <ul class="pagination">
                    {% if dragon_list.has_previous %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ current_page.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% for page in paginator.page_range %}
                    <li class="page-item {% if page == dragon_list.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                    {% endfor %}
                    {% if dragon_list.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ dragon_list.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $('#dragon_table').DataTable({
        "scrollY": "80vh",
        "info": false,
        "paging": false,
        dom: 'Bfrtip',
        language: { search: "" },
    });
</script>
{% endblock %}