{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m8 l8 xl8">
            <div class="row">
                {% for new in news_response_lists %}
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                            <a target="_blank" href="{{ new.url }}"><img src="{{ new.image }}" alt=""></a>
                        </div>
                        <div class="card-content">
                            <p>{{ new.name }}</p>
                        </div>
                        <div class="card-action">
                            <p>{{ new.release_date|date:'Y-m-d H:i' }} - {{ new.category }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col s6">
                    <table id="void_battles_table" class="responsive">
                        <thead>
                            <tr>
                                {% for th in void_battles_table_head %}
                                {% if forloop.counter == 1 %}
                                <th>Quest/Day</th>
                                {% else %}
                                <th>{{ th }}</th>
                                {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for tr in void_battles_table_body %}
                            <tr>
                                {% for item in tr %}
                                <td>{{ item }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col s6">
                    <table id="high_dragon_master_table" class="responsive">
                        <thead>
                            <tr>
                                {% for th in high_dragon_master_head %}
                                {% if forloop.counter == 1 %}
                                <th>Quest/Day</th>
                                {% else %}
                                <th>{{ th }}</th>
                                {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for tr in high_dragon_master_body %}
                            <tr>
                                {% for item in tr %}
                                <td>{{ item }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4 xl4">
            <div class="row">
                <div class="section-area">
                    <div class="section">
                        <span class="section-title">Showcase</span>
                        {% for showcase in showcase_response_lists %}
                        <div class="section-image">
                            <a href="{{ showcase.1 }}"><img src="{{ showcase.0 }}" alt=""></a>
                        </div>
                        <div class="section-content">
                            <p>{{ showcase.2 }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="section-area">
                    <div class="section">
                        <span class="section-title">New Adventurers</span>
                        <div class="row">
                            {% for new_adventurer in new_adventurers_response_lists %}
                            <div class="col s4">
                                <div class="section-image">
                                    <a href="{{ new_adventurer.1 }}"><img src="{{ new_adventurer.0 }}" alt=""></a>
                                </div>
                                <div class="section-content">
                                    <p>{{ new_adventurer.2 }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="section-area">
                    <div class="section">
                        <span class="section-title">New Dragons</span>
                        <div class="row">
                            {% for new_dragon in new_dragons_response_lists %}
                            <div class="col s4">
                                <div class="section-image">
                                    <a href="{{ new_dragon.1 }}"><img src="{{ new_dragon.0 }}" alt=""></a>
                                </div>
                                <div class="section-content">
                                    <p>{{ new_dragon.2 }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="section-area">
                    <div class="section">
                        <span class="section-title">New Wymprints</span>
                        <div class="row">
                            {% for new_wyrmprint in new_wyrmprints_response_lists %}
                            <div class="col s3">
                                <div class="section-image">
                                    <a href="{{ new_wyrmprint.1 }}"><img src="{{ new_wyrmprint.0 }}" alt=""></a>
                                </div>
                                <div class="section-content">
                                    <p>{{ new_wyrmprint.2 }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="section-area">
                    <div class="section">
                        <span class="section-title">New Mana Spirals</span>
                        <div class="row">
                            {% for new_mana_spirals in new_mana_spirals_response_lists %}
                            <div class="col s3">
                                <div class="section-image">
                                    <a href="{{ new_mana_spirals.1 }}"><img src="{{ new_mana_spirals.0 }}" alt=""></a>
                                </div>
                                <div class="section-content">
                                    <p>{{ new_mana_spirals.2 }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $('#void_battles_table').DataTable({
        "scrollY": "50vh",
        scrollCollapse: true,
        ordering: false,
        paging: true,
        info: false,
        pageLength: 10,
        dom: 'Bfrtip',
        language: { search: "" },
    });
    $('#high_dragon_master_table').DataTable({
        "scrollY": "50vh",
        scrollCollapse: true,
        ordering: false,
        paging: false,
        info: false,
        dom: 'Bfrtip',
        language: { search: "" },
    });
</script>
{% endblock %}