{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Weapon List</h2>
    <div class="row">
        <div class="col s12">
            <table id="weapon_table" class="table table-hover row-border responsive">
                <thead>
                    <tr>
                        {% for th in weapon_table_head %}
                        <th>{{ th|title }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for tr in weapon_table_body %}
                    <tr>
                        {% for item in tr %}
                        {% if forloop.counter == 1 %}
                        <td><a href={{item.url}}><img src={{item.image}}></a></td>
                        {% elif forloop.counter == 8  %}
                        <td>
                            <span class="">{{item.skill_level.0}}:</span>
                            <a href={{item.skill_url.0}}><img src={{item.skill_image.0}}>&nbsp;{{item.skill_name.0}}</a>
                            <p class="">{{item.skill_description.0}}</p>
                            <br>
                            <span class="">{{item.skill_level.1}}:</span>
                            <a href={{item.skill_url.1}}><img src={{item.skill_image.1}}>&nbsp;{{item.skill_name.1}}</a>
                            <p class="">{{item.skill_description.1}}</p>
                        </td>
                        {% elif forloop.counter == 9 or forloop.counter == 10 %}
                        {% if item.ability_url %}
                        <td><a href={{item.ability_url}}><img src={{item.ability_image}}>&nbsp;{{item.ability_name}}</a>
                        </td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                        {% else %}
                        <td>{{ item | safe }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $('#weapon_table').DataTable({
        "scrollY": "80vh",
        scrollCollapse: true,
        paging: true,
        pageLength: 10,
        lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        dom: 'Bfrtip',
        language: { search: "" },
    });
</script>
{% endblock %}